{
    "useTabs": true, // Indent lines with tabs instead of spaces.
    "printWidth": 100, // Specify the length of line that the printer will wrap on.
    "tabWidth": 4,    // Specify the number of spaces per indentation-level.
    "singleQuote": true, // Use single quotes instead of double quotes.
    "trailingComma": "none",
    "jsxBracketSameLine": false,
    "parser": "babylon",
    "noSemi": true,
    "rcVerbose": true
}
